@model CommentIndexViewModel
@using System.Security.Claims

@{
    //int min = ViewBag.min;
    ViewData["Title"] = "Index";
    //min = Math.Clamp(min, 0, @Model.Comments.Count() - 5);
    int min = (int)ViewData["min"];
    //ViewBag.min = min;
    //int max = (int)ViewData["max"];
    int previousMin = Math.Clamp(min-5, 0, @Model.Comments.Count() - 5);
    //int previousMax = max - 5;
    int nextMin = Math.Clamp(min+5, 0, @Model.Comments.Count() - 5);
    //int nextMax = max + 5;
    //void previous()
    //{
    //    ViewBag.min = ViewBag.min - 5;
    //}
    //void next()
    //{
    //    ViewBag.min = ViewBag.min + 5;
    //}
}

<h1>Comments</h1>

    <div class="container">
        <div class="row">
            <div class="panel panel-body widget">
                <div class="panel-title">
                    @*<span class="fa fa-comment">*@
                        <h3 class="panel-title">
                            <span class="fa fa-comment"/>Recent Comments
                        </h3>
                    @*</span>*@

                    <span class="text text-info">
                        <strong>Total comments: @Model.Comments.Count()</strong>
                        
                        <p>
                            @if (min != 0)
                            {
                                <a asp-controller="Comments" asp-action="Index" asp-route-min="@previousMin">Previous comments</a>
                            }
                            @if (min != @Model.Comments.Count() - 5)
                            {
                                <a asp-controller="Comments" asp-action="Index" asp-route-min="@nextMin">Next comments</a>
                            }
                        </p>
                    </span>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        @foreach (var item in Model.Comments.Skip(min).Take(5))
                        {
                            string editClass = "fa fa-pencil btn btn-primary ";
                            string deleteClass = "fa fa-trash btn btn-danger ";
                            string statusClass;
                            if (item.Naam == User.FindFirstValue(ClaimTypes.Name))
                                statusClass = "";
                            else
                                statusClass = "disabled";
                            editClass += statusClass;
                            deleteClass += statusClass;
                            string imgPath = "http://placehold.it/80";
                            if (!String.IsNullOrEmpty(item.ImgPath))
                            {
                                imgPath = item.ImgPath;
                            }
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-2 col-md-1">
                                        <img src="@imgPath" class="img-circle img-responsive" alt="" />
                                    </div>
                                    <div class="col-xs-10 col-md-11">
                                        <div>
                                            <strong>
                                                <a asp-action="Details" asp-route-id="@item.CommentId" class="card-title">
                                                    @Html.DisplayFor(modelItem => item.Title)
                                                </a>
                                            </strong>
                                                @*<a href="http://www.jquery2dotnet.com/2013/10/google-style-login-page-desing-usign.html">
                                                    Google Style Login Page Design Using Bootstrap
                                                </a>*@
                                            <div class="mic-info">
                                                By: @Html.DisplayFor(modelItem => item.Naam) on @Html.DisplayFor(modelItem => item.Created)
                                            </div>
                                        </div>
                                        <div class="comment-text">
                                            @Html.DisplayFor(modelItem => item.MyComment)
                                        </div>
                                        <div class="action">
                                            @*<button type="button" class="btn btn-primary btn-xs" title="Edit" asp-controller="Comments" asp-action="Edit" asp-route-id="@item.CommentId">
                                                <span class="fa fa-pencil"></span>
                                            </button>*@
                                            <a asp-action="Edit" asp-route-id="@item.CommentId" class="@editClass"></a> |
                                            <a asp-action="Details" asp-route-id="@item.CommentId" class="fa fa-info btn btn-primary"></a> |
                                            <a asp-action="Delete" asp-route-id="@item.CommentId" class="@deleteClass"></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

<hr />
<h4>New Comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateFromIndex" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Comment.Title" class="control-label"></label>
                <input asp-for="@Model.Comment.Title" class="form-control"/>
                <span asp-validation-for="@Model.Comment.Title" class="text-danger"></span>
            </div>            <div class="form-group">
                <label asp-for="@Model.Comment.MyComment" class="control-label"></label>
                <input asp-for="@Model.Comment.MyComment" class="form-control" />
                <span asp-validation-for="@Model.Comment.MyComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Comment.ImgPath" class="control-label"></label>
                <input asp-for="@Model.Comment.ImgPath" class="form-control" type="hidden" />
                <input asp-for="@Model.Comment.NewImage" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Comment.Mood" class="control-label"></label>
                <select asp-for="@Model.Comment.Mood" class="form-control" id="mood" asp-items="@Model.Comment.MoodStatus">
                    @*<option>none</option>
                    <option style="background-image: url(../Images/Blij.png)">blij</option>
                    <option style="background-image: url(../Images/Matig.png)">matig</option>
                    <option style="background-image: url(../Images/Droevig.png)">droevig</option>
                    <option style="background-image: url(../Images/Boos.png)">boos</option>*@
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
