@model CommentIndexViewModel
@using System.Security.Claims

@{
    ViewData["Title"] = "Index";
    int min = (int)ViewData["min"];
    //int max = (int)ViewData["max"];
    int previousMin = min - 5;
    //int previousMax = max - 5;
    int nextMin = min + 5;
    //int nextMax = max + 5;
}

<h1>Comments</h1>
<p>
    <a asp-controller="Comments" asp-action="Index" asp-route-min="@previousMin">Previous comments</a>
    <a asp-controller="Comments" asp-action="Index" asp-route-min="@nextMin">Next comments</a>
</p>
    <div class="container">
        <div class="row">
            <div class="panel panel-body widget">
                <div class="panel-title">
                    <span class="fa fa-comment"></span>
                    <h3 class="panel-title">
                        Recent Comments
                    </h3>
                    <span class="text text-info">
                        @Model.Comments.Count()
                    </span>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        @foreach (var item in Model.Comments.Skip(min).Take(5))
                        {
                            
                            string editClass = "fa fa-pencil btn btn-primary ";
                            string deleteClass = "fa fa-trash btn btn-danger ";
                            string statusClass;
                            if (item.Naam == User.FindFirstValue(ClaimTypes.Name))
                                statusClass = "";
                            else
                                statusClass = "disabled";
                            editClass += statusClass;
                            deleteClass += statusClass;
                            string imgPath = "http://placehold.it/80";
                            if (!String.IsNullOrEmpty(item.ImgPath))
                            {
                                imgPath = item.ImgPath;
                            }

                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-2 col-md-1">
                                        <img src="@imgPath" class="img-circle img-responsive" alt="" />
                                    </div>
                                    <div class="col-xs-10 col-md-11">
                                        <div>
                                            <strong>
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </strong>
                                            @*<a href="http://www.jquery2dotnet.com/2013/10/google-style-login-page-desing-usign.html">
                                Google Style Login Page Design Using Bootstrap
                            </a>*@
                                            <div class="mic-info">
                                                By: @Html.DisplayFor(modelItem => item.Naam) on @Html.DisplayFor(modelItem => item.Created)
                                            </div>
                                        </div>
                                        <div class="comment-text">
                                            @Html.DisplayFor(modelItem => item.MyComment)
                                        </div>
                                        <div class="action">
                                            @*<button type="button" class="btn btn-primary btn-xs" title="Edit" asp-controller="Comments" asp-action="Edit" asp-route-id="@item.CommentId">
                                                <span class="fa fa-pencil"></span>
                                            </button>*@
                                            <a asp-action="Edit" asp-route-id="@item.CommentId" class="@editClass"></a> |
                                            <a asp-action="Details" asp-route-id="@item.CommentId" class="fa fa-info btn btn-primary"></a> |
                                            <a asp-action="Delete" asp-route-id="@item.CommentId" class="@deleteClass"></a>
                                                @*<button type="button" class="btn btn-primary btn-xs" title="Edit" asp-action="Edit" asp-route-id="@item.CommentId">
                <span class="fa fa-pencil"></span>
            </button>
            <button type="button" class="btn btn-success btn-xs" title="Details" asp-action="Details" asp-route-id="@item.CommentId">
                <span class="fa fa-info"></span>
            </button>
            <button type="button" class="btn btn-danger btn-xs" title="Delete" asp-action="Delete" asp-route-id="@item.CommentId">
                <span class="fa fa-trash"></span>
            </button>*@
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    @*<a href="#" class="btn btn-primary btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> More</a>*@
                </div>
            </div>
        </div>
    </div>
    @*<div class="row">
            <strong>
                @Html.DisplayFor(modelItem => item.Naam)

            </strong>
        </div>*@


<hr />
<h4>New Comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateFromIndex" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Comment.Title" class="control-label"></label>
                <input asp-for="@Model.Comment.Title" class="form-control"/>
                <span asp-validation-for="@Model.Comment.Title" class="text-danger"></span>
            </div>            <div class="form-group">
                <label asp-for="@Model.Comment.MyComment" class="control-label"></label>
                <input asp-for="@Model.Comment.MyComment" class="form-control" />
                <span asp-validation-for="@Model.Comment.MyComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Comment.ImgPath" class="control-label"></label>
                <input asp-for="@Model.Comment.ImgPath" class="form-control" type="hidden" />
                <input asp-for="@Model.Comment.NewImage" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Comment.Mood" class="control-label"></label>
                <select asp-for="@Model.Comment.Mood" class="form-control" id="mood">
                    <option>none</option>
                    <option style="background-image: url(../Images/Blij.png)">blij</option>
                    <option style="background-image: url(../Images/Matig.png)">matig</option>
                    <option style="background-image: url(../Images/Droevig.png)">droevig</option>
                    <option style="background-image: url(../Images/Boos.png)">boos</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
